[Unit]
Description=BT Wifi Client Service
After=network.target

[Service]
Restart=always
RestartSec=20
ExecStart=/usr/bin/BTWifiClient.py

[Install]
WantedBy=multi-user.target
